@font-face {
  font-family: PhotographSignature;
  src: url("./Photograph\ Signature.ttf") format("truetype");
}

.pretty-title {
  font-family: PhotographSignature;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: PhotographSignature;
}
